<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:jdbc="http://www.springframework.org/schema/jdbc"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:jpa="http://www.springframework.org/schema/data/jpa"
		xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-4.1.xsd
						http://www.springframework.org/schema/jdbc
						http://www.springframework.org/schema/jdbc/spring-jdbc-4.1.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
						http://www.springframework.org/schema/data/jpa
						http://www.springframework.org/schema/data/jpa/spring-jpa.xsd">

	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<property name="securityManager" ref="securityManager"></property>
		<!-- 权限不足跳转的路径 -->
		<property name="unauthorizedUrl" value="/error.jsp"></property>
		<!-- 成功跳转的路径 -->
		<property name="successUrl" value="/success.jsp"></property>
		<!-- 这个属性的作用是指定url级别拦截操作 -->
		<property name="filterChainDefinitions">
			<value>
				/login.jsp*=anon
				/success.jsp*=authc
			</value>
		</property>
	</bean>

	<!--
		自定义realm
	-->
	<bean id="myrealm" class="study.shiro.utils.MyRealm">
		<!--自定再使用自己自定义的realm时使用缓存  value 取 ehcach.xml配置文件中自定义的配置的name值-->
		<property name="authenticationCacheName" value="shiroEhcache"/>
	</bean>
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="myrealm"></property>
		<!--ref 取shiro整合ehcache的id (在下面)-->
		<property name="cacheManager" ref="cacheManager1"></property>
	</bean>

	<!-- 开启注解的使用才能再代码中使用shiro的注解(细粒度权限使用用注解来完成) -->
	<bean id="lifecycle" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycle" >
		<property name="proxyTargetClass" value="true"/>
	</bean>
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>

	<!-- shiro 整合 ehcache -->
	<bean id="cacheManager1" class="org.apache.shiro.cache.ehcache.EhCacheManager">
		<!--ref 取applicationContext-ehcache.xml 配置文件中的id-->
		<property name="cacheManager" ref="cacheManager"/>
	</bean>
</beans>